body{
    height: 2200px;
    font-family: 'Lato', sans-serif;
}

.navbar-custom {
    background-color: rgb(0, 0, 0, 0.5);
}
.navbar-brand{
    color: white;
    font-size: 30px;
}

.nav-link{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}

.fa-bars{
    color: white;
    transform: scale(1.5);
}

#menu{
    color: white;   
    font-size: 15px;
    margin-left: 10px;
}

#bottomright {
    position: absolute;
    bottom: 300px;
    right: 5vw;
  }

  #bottomright h1 {
    font-size: 100px;
    text-align: right;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  }

  #bottomright h3 {
    font-size: 30px;
    text-align: right;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  }

/* parallax - start */
.parallax { 
    /* The image used */
    background-image: url(../../../images/visual-identity/ML1.jpg);
    height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
/* parallax - end */


/* side bar - start */
#dismiss{
    display: none;
  }
  
  @media (max-width: 991px) {
  #navbar-sidebar {
      position: fixed;
      top: 0;
      opacity: 0;
      left: -250px;
      display: block;
      width: 250px;
      height: 100vh; 
      z-index: 999;
      background: rgb(254, 136, 115, 1); /*change background*/
      overflow-y: hidden;
      padding: 0 15px;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

      transition: all 0.3s ease-in;
  }
  
  #navbar-sidebar.active {
      left: 0;
      opacity:1;
 }
  
  #dismiss {
      display: block;
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
     /* background: #7386D5;*/
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;

      transition: all 0.3s;
  }
  
  #dismiss:hover {
      background: #fff;
      color: #666;
  }

  .overlay {
      display: none;
      opacity: 0;
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(115, 233, 254, 0.4);
      z-index: 998;
      transition: all 0.5s ease-in-out;
  }
  .overlay.active {
      display: block;
      opacity: 1;
  }  
    }
  /* side bar - end */